@font-face {
    font-family: 'Western', sans-serif;
    src: url('/western-cdnfonts/WEST____.TTF');
}

section {
    margin: 4%;
}

body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#landing {
    text-decoration: underline;

    font-size: 2em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-family: 'Western', sans-serif;
    src: url('/western-cdnfonts/WEST____.TTF');
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#title:hover{
    cursor: default;
}

#play {
    background-color: #e69900;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .5em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play:hover {
    opacity: 0.7;
}

#image {
    margin-bottom: -15em;
}

#progress, #wrongLetters {
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}


#input {
    font-size: 1.7em;
    width: 4em;
}

#submitBtn {
    margin-left: 1em;
    background-color: #1621c4;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
}

#submitBtn:hover {
    opacity:0.7;
}

#formDiv {
    display: inline-flex;
}

#instructions {
    font-size: 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

#button {
    margin-top: 1em;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button:hover {
    opacity:0.7;
}

#message {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}